<div class="jumbotron" id="details">
	<div class="container">
		<h2><%= @mod %> : <%= @details['ModuleTitle'] %></h2>
		<p id="desc"><%= @details['ModuleDescription'] %></p>
		<p id="mc">Modular Credit: <%= @details['ModuleCredit'] %></p>
		<p id="workload">Workload: <%= @details['Workload'] %></p>
		<p id="prereq">Prerequisite: <%= @details['Prerequisite'] %></p>
		<p id="preclus">Preclusion: <%= @details['Preclusion'] %></p>
	</div>
</div>