<div class="container">
    <div class="jumbotron" id="mods">
        <div class="container">
            <h2>Modules</h2>
            <p>Click on the module code to find out more about the module</p>
            <center>
                <table class = "table table-condensed table-bordered">
                    <tr style="background-color: #024873;">
                        <th>No.</th>
                        <th>Module Code</th>
                        <th>Module Name</th>
                    </tr>
                    <% count = 0 %>
                    <% @result.each do |code, name| %>
                    <% count += 1 %>
                    <% if count%2==1 %>
                    <tr style="background-color: #5B9ED9;">
                        <% else %>
                        <tr>
                            <% end %>
                            <td><%= count %></td>
                            <!---<td><a href="javascript:popup('/mods/<%= code %>')"><%= code %></a></td>-->
                            <td><a href="javascript:showDetails('<%= code %>')"><%= code %></a></td>
                            <td><%= name %></td>
                        </tr>
                        <% end %>

                        <!-- script for new popup window -->
                        <script language="javascript">
                        function popup(url) {
                            var w = 700, h = 600;
                            var left = (screen.width) ? (screen.width-w)/2 : 0;
                            var top = (screen.height) ? (screen.height-h)/2 : 0;
                            window.open(url, "_blank", "width="+w+",height="+h+",left="+left+",top="+top+",scrollbars=yes");
                        }       
                        </script>
                    </table>
                </center>
                
                <script language="javascript">
                function showDetails(moduleCode) {
                    $.get("/mod/"+ moduleCode, function(data){
                        emptyDetails();
                        $('#moduleTitle').append(moduleCode+" - "+data["ModuleTitle"]);
                        $('#moduleDescription').append("<p>"+data["ModuleDescription"]+"</p>");
                        $('#moduleCredit').append("<p>Module Credit:  "+data["ModuleCredit"]+"</p>");
                        $('#moduleWorkload').append("<p>"+"Workload:  "+data["Workload"]+"</p>");
                        $('#modulePrereq').append("<p>"+"Prerequisite:  "+data["Prerequisite"]+"</p>");
                        $('#modulePreclus').append("<p>"+"Preclusion:  "+data["Preclusion"]+"</p>");
                        $('#moduleDetails').modal('show');
                    },"json");
                }
                function emptyDetails(){
                    $('#moduleTitle').empty();
                    $('#moduleDescription').empty();
                    $('#moduleCredit').empty();
                    $('#moduleWorkload').empty();
                    $('#modulePrereq').empty();
                    $('#modulePreclus').empty();
                }
                </script>
            </div>
        </div>
    </div>
    <div class="modal fade" id="moduleDetails" role="dialog" tabindex="-1" aria-labelledby="moduleTitle" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="moduleTitle"></h4>
                </div>
                <div class="modal-body">
                    <div id="moduleDescription">a</div>
                    <div id="moduleCredit">a</div>
                    <div id="moduleWorkload">a</div>
                    <div id="modulePrereq">a</div>
                    <div id="modulePreclus">a</div>
                </div>
            </div>
        </div>  
    </div>